.form {
  position: fixed;
  bottom: 24px;
  max-width: 620px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &_serch{
    right: 24px;
    max-width: 400px;
  }
  &__input {
    padding: 8px 16px;
  }
  &__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 260px;
    width: 100%;
  }
}

.btn_entry {
  margin-left: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.posts {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}