<div class="wrapper">
  <div *ngFor="let item of postsList$ | async" class="posts">
    <span>{{item.title}}</span>
    <span>{{item.author}}</span>
    <button (click)="hendelDelete(item.id)">Удалить</button>
    <button (click)="hendelUpdate(item.id)">Редактировать</button>
  </div>
</div>

<form [formGroup]="form" class="form">
  <label class="form__label">
    <span class="">title</span>
    <input type="text" class="form__input" placeholder="title" formControlName="title">
  </label>
  <label class="form__label">
    <span class="">author</span>
    <input type="text" class="form__input" placeholder="author" formControlName="author">
  </label>
  <button class="btn_entry" (click)="hendelSubmit()">Отправить</button>
</form>



<form [formGroup]="formSerch" class="form form_serch">
  <label class="form__label">
    <input type="text" class="form__input" placeholder="title" formControlName="title">
  </label>
  <button class="btn_entry" (click)="hendelSerch()">Найти</button>
  <button class="btn_entry" (click)="hendelCancel()">Сбросить</button>
</form>