<form [formGroup]="form" class="form">
  <label class="form__label">
    <span class="">login</span>
    <input type="text" class="form__input" placeholder="login" formControlName="login">
  </label>
  <label class="form__label">
    <span class="">password</span>
    <input type="password" class="form__input" placeholder="password" formControlName="password">
  </label>
  <button class="btn_entry" (click)="hendelSubmit()">Login</button>
</form>
