.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: 'Courier New', Courier, monospace;

  &__label {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      margin-top: 24px;
    }
  }

  &__input {
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #333;
    border-radius: 8px;
  }
}

.btn_entry {
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  margin-top: 24px;
  background: linear-gradient(90deg, #EBE9AF 1.2%, #8B7168 100%);
  color: #FFF;
  max-width: 150px;
  width: 100%;
}
